body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Align items vertically */
    align-items: center;
    background-color: #f0f0f0;
}

.buttons-container {
    position: fixed;
    /* Make the container fixed */
    top: 0;
    /* Stick it to the top of the page */
    width: 100%;
    /* Make it full width */
    display: flex;
    flex-direction: row;
    /* Arrange buttons horizontally */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    /* Optionally add a background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optionally add a shadow */
    z-index: 999;
    /* Ensure it's above other content */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.list-container {
    margin-top: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.event-list,
.announcement-list,
.user-list,
.organisations-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.event-list>* {
    margin: 10px;
}

p {
    position: relative;
}

.value {
    position: absolute;
    left: 120px;
    min-height: 20px;
}