:root {
    --radius: 8px;
    --border: 2px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: calc(100vh - 65px);;
}

.search-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;
    width: 200px;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    gap: 5px;
}

.search-bar-container {
    margin-top: 10px;
    text-align: center;
}

#searchInput {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchInput::placeholder {
    color: #999;
}

.search-button {
    padding: 5px 20px;
    margin-top: 10px;
    font-size: 16px;
    width: 90%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}


.order-by-container {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border-top: 2px solid #ccc;
}


.dynamic-filter {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    padding-right: 10px;
    border-top: 2px solid #ccc;
}

.filter-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filterForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#filterContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

#filterContainer > * {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter-button {
    padding: 5px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #0056b3;
}


.score {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 8em;
}

.score input {
    position: absolute;
    left: -999999px;
}

.score label {
    display: inline-block;
    font-size: 0;
}

.score > label:before {
    position: relative;
    font: 24px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.score > label:hover:before,
.score > label:hover ~ label:before,
.score > label.selected:before,
.score > label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #fcb551 0%, #d69a45 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.tabs {
    position: relative;
    min-height: 50px;
    max-width: 600px;
    margin-bottom: 10px;
    display: grid;
    grid-auto-flow: column;
    background: #007bff;
    border-radius: var(--radius);
    grid-auto-columns: 1fr;
    border: var(--border) solid #0056b3;
}

.tabs>input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border-width: 0;
}

.tabs:has(:checked:nth-of-type(1)) {
    --active: 0;
}

.tabs:has(:checked:nth-of-type(2)) {
    --active: 1;
}

.tabs:has(:checked:nth-of-type(3)) {
    --active: 2;
}

.tabs:has(:checked:nth-of-type(4)) {
    --active: 3;
}

.tabs:has(input:nth-of-type(2)) {
    --count: 2;
}

.tabs:has(input:nth-of-type(3)) {
    --count: 3;
}

.tabs:has(input:nth-of-type(4)) {
    --count: 4;
}

.tabs label {
    padding: 0 clamp(0.5rem, 2vw + 0.25rem, 2rem);
    cursor: pointer;
    text-align: center;
    height: 100%;
    display: grid;
    border-radius: calc(var(--radius) - var(--border));
    place-items: center;
    color: #f0f0f0;
    transition: color;
    transition-duration: 0.25s;
    transition-timing-function: var(--ease, ease);
}

input:not(:checked)+label:hover {
    background: #0056b3;
}

.tabs::after {
    pointer-events: none;
    content: "";
    width: calc(100% / var(--count));
    height: 100%;
    position: absolute;
    border-radius: calc(var(--radius) - var(--border));
    translate: calc(var(--active, 0) * 100%) 0;
    transition: translate, outline-color;
    transition-duration: 0.25s;
    transition-timing-function: var(--ease, ease);
    outline: 2px solid transparent;
}

.tabs input:checked+label {
    color: #000;
    background-color: #f0f0f0;
}


.list {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.map {
    width: 100%;
    min-height: 300px;
}

.leaflet-control-zoom {
    display: none;
}

.leaflet-control-attribution {
    display: none;
}


.dynamic-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    padding-right: 10px;
}

.dynamic-list::-webkit-scrollbar {
    display: none;
}

.element-container {
    overflow: hidden;
    min-width: 260px;
    padding: 30px 25px;
    margin-top: 10px;
    border-radius: 8px;
    transform-origin: top;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}   

.expired {
    color: red;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.main-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-right: 1px solid #ccc;
}

.main-info > * {
    padding: 10px;
    white-space: nowrap;
}

.description {
    margin-top: 10px;
}

.key {
    font-weight: bold;
}



#showObject {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.single-item-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.close-button {
    position: absolute;
    bottom: 80px;
    right: 50%;
    font-size: 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.create-notice {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 999; /* Ensure it's above other content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.create-notice:hover {
    background-color: #0056b3;
}



@media (max-width: 600px) {

    .logButton {
        margin-top: 0px;
    }
}

.clickable {
    cursor: pointer;
    color: blue;
}

.clickable:hover {
    text-decoration: underline;
}



