:root {
    --radius: 8px;
    --border: 2px;
}

body {
    font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin-top: 60px;
}

.header {
    position: fixed;
    top: 0;
    min-height: 60px;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.header-left {
    text-align: left;
    margin-left: 15px;
    margin-top: -10px;
    max-height: 60px;
    width: 50%;
}

.header-right {
    text-align: right;
    max-height: 60px;
    width: 50%;
}

.logButton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 10px 10px 0;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logButton:hover {
    background-color: #0056b3;
}

.logButton.active {
    background-color: #0056b3;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.usernameLabel {
    font-weight: bold;
    border: 1px solid #333;
    padding-bottom: 2px;
    margin-right: 10px;
    cursor: pointer;
}

.profileIcon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}


.sidebar {
    position: fixed;
    top: 60px;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.search-column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;
    width: 200px;
    min-width: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.search-bar-container {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#searchInput {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchInput::placeholder {
    color: #999;
}

.search-button {
    padding: 5px 20px;
    margin-top: 10px;
    font-size: 16px;
    width: 90%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.main-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}

.tabs {
    position: fixed;
    top: 0;
    min-height: 50px;
    max-width: 600px;
    margin-left: 20px;
    display: grid;
    grid-auto-flow: column;
    background: #007bff;
    border-radius: var(--radius);
    grid-auto-columns: 1fr;
    position: relative;
    border: var(--border) solid #0056b3;
}

.tabs>input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    border-width: 0;
}

.tabs:has(:checked:nth-of-type(1)) {
    --active: 0;
}

.tabs:has(:checked:nth-of-type(2)) {
    --active: 1;
}

.tabs:has(:checked:nth-of-type(3)) {
    --active: 2;
}

.tabs:has(:checked:nth-of-type(4)) {
    --active: 3;
}

.tabs:has(input:nth-of-type(2)) {
    --count: 2;
}

.tabs:has(input:nth-of-type(3)) {
    --count: 3;
}

.tabs:has(input:nth-of-type(4)) {
    --count: 4;
}

.tabs label {
    padding: 0 clamp(0.5rem, 2vw + 0.25rem, 2rem);
    cursor: pointer;
    text-align: center;
    height: 100%;
    display: grid;
    border-radius: calc(var(--radius) - var(--border));
    place-items: center;
    color: #f0f0f0;
    transition: color;
    transition-duration: 0.25s;
    transition-timing-function: var(--ease, ease);
}

input:not(:checked)+label:hover {
    background: #0056b3;
}

.tabs::after {
    pointer-events: none;
    content: "";
    width: calc(100% / var(--count));
    height: 100%;
    position: absolute;
    border-radius: calc(var(--radius) - var(--border));
    translate: calc(var(--active, 0) * 100%) 0;
    transition: translate, outline-color;
    transition-duration: 0.25s;
    transition-timing-function: var(--ease, ease);
    outline: 2px solid transparent;
}

.tabs input:checked+label {
    color: #000;
    background-color: #f0f0f0;
}


.list {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

#map {
    width: 100%;
    min-height: 300px;
}

.leaflet-control-zoom {
    display: none;
}

.leaflet-control-attribution {
    display: none;
}


.dynamic-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.element-container {
    overflow: hidden;
    min-width: 260px;
    padding: 30px 25px;
    margin-top: 10px;
    border-radius: 8px;
    transform-origin: top;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}   

.expired {
    color: red;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-info {
    flex-grow: 1;
    margin-right: 15px;
}

#showObject {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.single-item-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.close-button {
    position: absolute;
    bottom: 80px;
    right: 50%;
    font-size: 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


.create-notice {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 999; /* Ensure it's above other content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.create-notice:hover {
    background-color: #0056b3;
}



@media (max-width: 600px) {

    .logButton {
        margin-top: 0px;
    }
}

.hidden {
    display: none;
}