.forms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 32px;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 10px;
}

.forms {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}

.form-wrapper {
    animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
    animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
    50% {
        z-index: 1;
    }

    100% {
        z-index: 1;
    }
}

@keyframes hideLayer {
    0% {
        z-index: 1;
    }

    49.999% {
        z-index: 1;
    }
}

.switcher {
    position: relative;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: .5px;
    color: #666;
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateX(0);
    transition: all .3s ease-out;
}

.switcher:hover {
    color: #000;
}

.form-wrapper.is-active .switcher {
    color: #007bff;
}

.switcher-user .underline::before {
    transform: translateX(101%);
}

.switcher-organisation .underline::before {
    transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
    transform: translateX(0);
}

.form {
    overflow: hidden;
    min-width: 260px;
    margin-top: 40px;
    padding: 20px 25px;
    border-radius: 8px;
    transform-origin: top;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-form {
    animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .user-form {
    animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
    0% {
        background: #d7e7f1;
        transform: translate(40%, 10px);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        background-color: #fff;
        transform: translate(35%, -20px);
    }
}

@keyframes hideLogin {
    0% {
        background-color: #fff;
        transform: translate(35%, -20px);
    }

    50% {
        transform: translate(0, 0);
    }

    100% {
        background: #d7e7f1;
        transform: translate(40%, 10px);
    }
}

.organisation-form {
    animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .organisation-form {
    animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
    0% {
        background: #d7e7f1;
        transform: translate(-40%, 10px) scaleY(.8);
    }

    50% {
        transform: translate(0, 0) scaleY(.8);
    }

    100% {
        background-color: #fff;
        transform: translate(-35%, -20px) scaleY(1);
    }
}

@keyframes hideSignup {
    0% {
        background-color: #fff;
        transform: translate(-35%, -20px) scaleY(1);
    }

    50% {
        transform: translate(0, 0) scaleY(.8);
    }

    100% {
        background: #d7e7f1;
        transform: translate(-40%, 10px) scaleY(.8);
    }
}

.form fieldset {
    position: relative;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all .3s ease-out;
}

.user-form fieldset {
    transform: translateX(-50%);
}

.organisation-form fieldset {
    transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.input-block {
    margin-bottom: 20px;
}

.input-block label {
    font-size: 14px;
    color: #777;
}

.input-block input {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #333;
    background: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.form [type='submit'] {
    opacity: 0;
    display: block;
    min-width: 120px;
    margin: 10px auto 10px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    transition: all .3s ease-out;
    cursor: pointer;
}

.form [type='submit']:hover {
    background-color: #0056b3;
}

.form-wrapper.is-active .form [type='submit'] {
    opacity: 1;
    transform: translateX(0);
    transition: all .4s ease-in;
    cursor: pointer;
}

.sign-up-button {
    color: #fbfdff;
    background: #007bff;
    transform: translateX(-30%);
}

#successPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.7);
    z-index: 999;
}

#successMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
}

#successMessage p {
    margin-bottom: 10px;
}

#successMessage button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#successMessage button:hover {
    background-color: #0056b3;
}

.bottom-button-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    padding: 20px;
}

.bottom-button-list>*:not(:last-child) {
    margin-right: 20px;
}

.organisation {
    margin-top: 0;
}

.back-button {
    display: block;
    min-width: 120px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    color: #007bff;
    background: #fff;
    box-shadow: inset 0 0 0 2px #007bff;
    cursor: pointer;
}

.login-button {
    display: block;
    min-width: 120px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    color: #fbfdff;
    background: #007bff;
    cursor: pointer;
}

.back-button:hover {
    background-color: #64acf9;
}

.hidden {
    display: none;
}